import { Elysia } from 'elysia';
import { healthRoutes } from './routes/health';

const app = new Elysia()
  .use(healthRoutes)
  .listen(3001);

console.log(`{{PROJECT_NAME}} API is running at http://localhost:${app.server?.port}`);
